name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
    - uses: actions/checkout@v1
    - name: build and test
      run: |
            ls /src
    container:
      image: docker://mcr.microsoft.com/dotnet/core/sdk:3.0-alpine
      volumes: 
        - $GITHUB_WORKSPACE:/src
      
  
